doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div(id='wrapper')
			include ./includes/nav-top.jade
			div.container
				div.row.main
					div.col-xs-3 
						h4.taglist Tags
						div.taglist
							each tag in tags.sort ()
								a(href='/tags/' + tag.name.toLowerCase () + '.html', class='btn btn-info btn-tag') #{tag.name}
								| 
					div.col-xs-9
						each post, index in page.posts.reverse ()
							if post
								div.row
									div.col-xs-12
										if post.type === 'post'
											div.post
												div.post-matter
													if index === 0
														h5.post-date= post.displayDate
														h1.post-title!= post.displayTitle
													else 
														h6.post-date= post.displayDate
														h2.post-title!= post.displayTitle
												div.tags.text-right
													each tag in post.tags.sort ()
														a(href='/tags/' + tag.toLowerCase () + '.html', class='btn btn-info btn-tag') #{tag}
														| 
												if post.excerpt
													div.post-content!= post.excerpt
												else
													div.post-content!= post.content
												div.small.text-right
													| &raquo; 
													a(href='/posts/' + post.path + post.filename + '.html') Read more
										else if post.type === 'mini'
											div.minipost
												div.well.content
													if post.title
														div.small.title= post.title
													div.body !{post.content}
													div.small.text-right.date= post.displayDate
										else if post.type === 'link'
											div.link
												div.content
													div.line
													h3.url
														a(href=post.url)= post.urlTitle
													if post.content
														div.body!= post.content
													if post.title
														div.small.text-right.title!= post.title
													div.small.text-right.date= post.displayDate
								div.row
									div.col-xs-12.text-center.small.divider . . . . .
						div.row
							div.post-nav
								div.col-md-6.text-right.post-nav-divider-l
									if page.previous
										h4.post-nav-label
											a(href=page.previous + '.html') Previous
								div.col-md-6.text-left.post-nav-divider-r
									if page.next
										h4.post-nav-label
											a(href=page.next + '.html') Next
			include ./includes/footer.jade
