doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div(id='wrapper')
			include ./includes/nav-top.jade
			div.container(style='margin-top: 75px;')
				div.row
					div.col-xs-3 
						h4.taglist Tags
						div.taglist
							each tag in Object.keys (tags).sort ()
								a(href='/tags/' + tag.toLowerCase () + '.html', class='btn btn-info btn-tag') #{tag}
								| 
					div.col-xs-9
						each post, index in posts
							if post
								div.row
									div.col-xs-12
										div.post-matter
											if index === 0
												h5.post-date= post.displayDate
												h1.post-title!= post.title
											else 
												h6.post-date= post.displayDate
												h2.post-title!= post.title
										div.tags.text-right
											each tag in post.tags
												a(href='/tags/' + tag.toLowerCase () + '.html', class='btn btn-info btn-tag') #{tag}
												| 
										div.post-content!= post.excerpt
										div.small.text-right
											| &raquo; 
											a(href='/posts/' + post.path + post.filename + '.html') Read more
										div.post-nav
											div.col-md-6.text-right.post-nav-divider-l
												if previous
													h3
														a(href='/posts/' + previous.path + previous.filename + '.html') #{previous.title}
													h4.post-nav-label Previous
											div.col-md-6.text-left.post-nav-divider-r
												if next
													h3
														a(href='/posts/' + next.path + next.filename + '.html') #{next.title}
													h4.post-nav-label Next
			include ./includes/footer.jade
