doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div.container
			div.row
				div.col-xs-3 Sidebar!
					each tag in Object.keys (tags)
						div.row
							div.col.xs.3
								a(href='tags/' + tag + '.html') #{tag}
				div.col-xs-7
					each post in posts
						div.row
							div.col-xs-7!= post.title
						div.row
							div.col-xs-7!= post.displayDate
						div.row
							div.col-xs-7
								each tag in post.tags
									a(href='tags/' + tag + '.html') #{tag}
									| 
						div.row
							div.col-xs-7!= post.content
