doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div.col-lg-4.col-md-7.col-sm-6!= content
		if previous
<<<<<<< HEAD
			div.col-lg-4.col-md-7.col-sm-6!= previous.title
		if next
			div.col-lg-4.col-md-7.col-sm-6!= next.title
=======
			div.col-lg-4.col-md-7.col-sm-6!= previous
		if next
			div.col-lg-4.col-md-7.col-sm-6!= next
>>>>>>> 56c3b078ef3c66349c6966f236371caf035feb0c

