doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div.container
			div.row
				div.col-xs-12!= title
			div.row
				div.col-xs-12!= displayDate
			div.row
				div.col-xs-12!= content
					div.row
						if previous
							div.col-md-6.text-right
								| Previous: 
								// Temporary while using file://
								a(href='../../' + previous.path + previous.filename + '.html') #{previous.title}
						if next
							div.col-md-6.text-left
								| Next: 
								// Temporary while using file://
								a(href='../../' + next.path + next.filename + '.html') #{next.title}
